{% extends 'base.html' %}
{% block title %}위잇 딜라이트 - 상품 등록{% endblock %}
{% block content %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>

<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
				<div class="container">
					<div class="page-header">
						<div class="row">
							<div class="col-md-12 col-sm-12">
								<div class="title">
									<h4>배송인 등록</h4>
								</div>
								<nav aria-label="breadcrumb" role="navigation">
									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a href="index.html">배송인 관리</a></li>
										<li class="breadcrumb-item active text-success" aria-current="page">배송인 등록</li>
									</ol>
								</nav>
							</div>
						</div>
					</div>

					<div class = "row">
						<div class="col container">
							<div class="col card-box mb-30">
								<div class="container pb-3">
									<h5 class="my-3 border-bottom pt-3 pb-2">배송인 등록</h5>
                                        <div class = "row">
                                            <div class = "col">
                                                <div class = "row">
                                                    <div class="container">
                                                        <form method="post" enctype="multipart/form-data" class="post-form my-3">
                                                            {% csrf_token %}
                                                            <!-- 폼을 가져옵니다. -->
                                                            {{ form.as_p }}
                                                            <div class="row pd-5 pt-2 pull-right">
                                                                <button type="submit" class="btn btn-success" name="버튼" value="1">등록하기</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
<!-- 추가해야 footer모양 나옴 (base에서 div 두개) -->
		</div>
	</div>
    <div class="container">
	<script src="../static/vendors/scripts/core.js"></script>
	<script src="../static/vendors/scripts/script.min.js"></script>
	<script src="../static/vendors/scripts/process.js"></script>
	<script src="../static/vendors/scripts/layout-settings.js"></script>
	<script src="../static/src/plugins/apexcharts/apexcharts.min.js"></script>
	<script src="../static/src/plugins/datatables/js/jquery.dataTables.min.js"></script>
	<script src="../static/src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
	<script src="../static/src/plugins/datatables/js/dataTables.responsive.min.js"></script>
	<script src="../static/src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
	<script src="../static/vendors/scripts/dashboard.js"></script>
{% endblock %}