<!DOCTYPE html>
<html class="no-js" lang="kr">
    <head>
		<!-- Meta Tags -->
		{% load static %}
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Site keywords here">
		<meta name="description" content="">
		<meta name='copyright' content=''>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Title -->
		<title>위잇딜라이트</title>

		<!-- Favicon -->
		<link rel="icon" type="image/png" href="images/favicon.png">

		<!-- Web Font -->
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

		<!-- Bootstrap CSS -->

		<link rel="stylesheet" type="text/css" href="/static/user/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/user/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="/static/user/css/niceselect.css">
        <link rel="stylesheet" type="text/css" href="/static/user/css/jquery.fancybox.min.css">
        <link rel="stylesheet" type="text/css" href="/static/user/css/cube-portfolio.min.css">
        <link rel="stylesheet" type="text/css" href="/static/user/css/owl.carousel.min.css">
        <link rel="stylesheet" type="text/css" href="/static/user/css/animate.min.css">
        <link rel="stylesheet" type="text/css" href="/static/user/css/slicknav.min.css">
		<link rel="stylesheet" type="text/css" href="/static/user/css/magnific-popup.css">
        <link rel="stylesheet" type="text/css" href="/static/user/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="/static/user/style.css">
        <link rel="stylesheet" type="text/css" href="/static/user/css/responsive.css">
		<link rel="stylesheet" type="text/css" href="/static/user/css/colors/color1.css">

		<link rel="stylesheet" href="{% static 'bootstrap.css' %}">
		<link type="text/css" href="{% static 'jquery.simple-dtpicker.css' %}" rel="stylesheet" />
		<script>
			$(function(){
				$('#date_picker').dtpicker();
			});
		</script>

		{% block script %}
		{% endblock %}
</head>

<body>
    <header class="header">
			<!-- Header Inner -->
			<div class="header-inner overlay">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-12">
							<!-- Logo -->
							<div class="logo mt-4 mb-2">
								<a href="/"><img src="{% static 'user/weeat_logo.GIF' %}" style="width:120px; height:80px;"></a>
							</div>
							<!--/ End Logo -->
							<div class="mobile-menu"></div>
						</div>
						<div class="col-lg-9 col-md-9 col-12">
							<div class="menu-bar mt-3">
								<nav class="navbar navbar-default">
									<div class="navbar-collapse">
										<!-- Main Menu -->
										<ul id="nav" class="nav menu navbar-nav">
											<li><a href="/">서비스 소개</a></li>
											<li><a href="/menu">메뉴 주문</a> </li>
											<li><a href="/order_list">주문 목록</a> </li>


											{% if user.is_authenticated %}
											<li><a class="nav-link" href="/logout"><button type="button" class="btn btn-success ml-3" style="width : 80px; border-radius : 5px;" onclick="alert('로그아웃 되셨습니다.')">로그아웃</button></a></li>
											{% else %}
											<li><a class="nav-link" href="/admin/login"><button type="button" class="btn btn-success ml-3" style="width :80px; border-radius : 5px;">로그인</button></a></li>
											<li><a href="/signup"><button type="button" class="btn btn-success" style="width :80px; border-radius : 5px;">회원가입</button></a></li>
											{% endif %}
										</ul>
										<!-- End Main Menu -->
									</div>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
        </header>
		<!--/ End Header -->
		<hr>
		{% block content %}
		{% endblock %}

		<!--/ End Clients CSS -->
        <!--Footer-->
		{% include "mainpage/footer.html" %}




        <script src="{% static '/user/js/jquery-migrate.min.js' %}"></script>
        <script src="{% static '/user/js/colors.js' %}"></script>
        <script src="{% static '/user/js/popper.min.js' %}"></script>
        <script src="{% static '/user/js/bootstrap.min.js' %}"></script>
        <script src="{% static '/user/js/owl.carousel.min.js' %}"></script>
		<script src="{% static '/user/js/jquery.stellar.min.js' %}"></script>
		<script src="{% static '/user/js/finalcountdown.min.js' %}"></script>
		<script src="{% static '/user/js/facnybox.min.js' %}"></script>
		<script src="{% static '/user/js/jquery.magnific-popup.min.js' %}"></script>
		<script src="{% static '/user/js/circle-progress.min.js' %}"></script>
		<script src="{% static '/user/js/niceselect.js' %}"></script>
        <script src="{% static '/user/js/jquery.stellar.min.js' %}"></script>
        <script src="{% static '/user/js/cube-portfolio.min.js' %}"></script>
        <script src="{% static '/user/js/slicknav.min.js' %}"></script>
        <script src="{% static '/user/js/easing.min.js' %}"></script>
        <script src="{% static '/user/js/waypoints.min.js' %}"></script>
		<script src="{% static '/user/js/jquery.counterup.min.js' %}"></script>
        <script src="{% static '/user/js/jquery.scrollUp.min.js' %}"></script>
		<script src="{% static '/user/js/gmaps.min.js' %}"></script>
        <script src="{% static '/user/js/main.js' %}"></script>
      <link rel="stylesheet"  href="{% static 'bootstrap.css' %}">
      <link rel="stylesheet" href="{% static 'teacherbasecss.css' %}">

</body>
</html>